.form-container{
    width: 220px;
    margin-top: 80px;
    margin-left: 270px;
    border: 2px solid black;
    border-radius: 5px;
    padding: 10px;
    gap: 10px;
    font-size: 4vh;
}

.button{
    background-color: black;
    color: white;
}